path {
  stroke: #000;
  stroke-width: 1.5;
  cursor: pointer;
}

text {
  font: 11px sans-serif;
  cursor: pointer;
}

body {
  width: 880px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin: .5em 0;
}

p#intro {
  text-align: center;
  margin: 1em 0;
}

#breadcrumbs { display: none; }